@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/** Base */
html {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: var(--text-base);
}

body {
  background-color: var(--teal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-size: 1rem;
}

/** Utilities */
.flex {
  display: flex;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}
