.card {
  --card-spacing: 20px;
  --card-outline-width: 6px;
  --card-photo-size: 96px;

  position: relative;
  display: flex;
  flex-direction: column;

  margin-left: 25px;
  margin-right: 25px;

  background-color: var(--white);
  overflow: hidden;
  border-radius: var(--rounded);

  box-shadow: 0 50px 80px -30px rgba(0, 0, 0, 0.4);
}

@media (min-width: 640px) {
  .card {
    max-width: 350px;
  }
}

.card__banner {
  object-fit: cover;
}

.card__photo {
  display: block;
  box-sizing: content-box;

  width: var(--card-photo-size);
  height: var(--card-photo-size);

  margin-top: calc(
    -1 * (var(--card-photo-size) + var(--card-outline-width)) / 2
  );
  margin-left: auto;
  margin-right: auto;

  background-color: var(--white);
  border-radius: var(--rounded-full);
  border-width: var(--card-outline-width);
  border-style: solid;
  border-color: var(--white);
}

.card__body {
  margin: var(--card-spacing) auto;
}

.userdetail {
  display: flex;
  align-self: center;
}

.userdetail__name {
  color: var(--gray--900);
  font-weight: bold;
}

.userdetail__age {
  margin-left: 0.5rem;
  color: var(--gray-700);
}

.userdetail__location {
  margin-top: 0.65rem;
  text-align: center;
  color: var(--gray-700);
  font-size: var(--text-sm);
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border-top: 1px solid var(--gray-50);
  padding: var(--card-spacing);
}

.stat {
  text-align: center;
}

.stat__label {
  font-weight: bold;
  line-height: 2;
}

.stat__value {
  font-size: var(--text-xs);
  color: var(--gray-700);
  letter-spacing: 0.05rem;
}

.attribution {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  font-size: 11px;
  text-align: center;
  padding: 1rem;
  color: white;
}

.attribution a {
  color: white;
}
